version: '3'
services:
  php:
    image: abtercms/php:74
    volumes:
      - .:/website
      - ./docker/php/conf.d/zzz.ini:/usr/local/etc/php/conf.d/zzz.ini:ro
    working_dir: /website

  php-ast:
    image: abtercms/php:74
    volumes:
      - .:/website
      - ./docker/php/conf.d/zzz.ini:/usr/local/etc/php/conf.d/zzz.ini:ro
      - ./docker/php/conf.d/ast-on.ini:/usr/local/etc/php/conf.d/ast-on.ini:ro
      - ./docker/php/conf.d/xdebug-off.ini:/usr/local/etc/php/conf.d/xdebug-off.ini:ro
    working_dir: /website
